/* MAIN RULES */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
header {
  background-color: white;
  border-bottom: solid 1px #f3735f;
}
header img {
  width: 200px;
  object-fit: contain;
  padding-top: 10px;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
main {
  margin-top: 50px;
}
section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: #393c6c;
}
.baseline {
  text-align: center;
  font-size: 75%;
  padding-top: 10px;
}
.time {
  background-color: grey;
  color: white;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}
main img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 60px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
ul {
  list-style: inside;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  color: #393c6c;
  line-height: 22px;
}
footer {
  height: 50px;
  width: 100%;
  padding: 50px 0;
}
.footer {
  text-align: center;
  font-size: 60%;
}
