/* COMON RULES */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
section {
  background-color: white;
  padding: 60px 30px;
  box-sizing: border-box;
  border-radius: 20px;
}
p {
  line-height: 22px;
  margin-bottom: 20px;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1,
h3 {
  color: #393c6c;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 30px;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
/*HEADER*/
header {
  background-color: white;
  border-bottom: solid 1px #f3735f;
  height: 80px;
  box-sizing: border-box;
}
header img {
  width: 200px;
  object-fit: contain;
  margin-top: 24px;
}
/*MAIN*/
.baseline {
  color: #6c6c6c;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin-top: 20px;
}
.time {
  background-color: grey;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 22px;
}
main img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-top: 60px;
}
.middle-image {
  margin: 0 31px;
}
ul {
  list-style: disc;
  padding-left: 20px;
}
main {
  padding-top: 60px;
}
/*FOOTER*/
footer {
  height: 136px;
  padding-top: 55px;
  box-sizing: border-box;
}
footer p {
  text-align: center;
  font-size: 60%;
}
